@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: hello;
  src: url("../public/heygorgeous.ttf");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-family:'hello', Courier, monospace;
}

#main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
} #main * {
    margin: 10px;
    line-height: 3;
} .more-margin {
    margin-top: 30px !important;
}

.error {
  color: #c71818;
  font-weight: bold;
}

button {
  border-radius: 10px;
  padding: 10px;
} button:hover {
  cursor: pointer;
}

.rainbow {
  font-weight: bold;

  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet,
    red
  );

  background-size: 300% 100%;
  background-position: 0% 50%;

  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: bg-move 10s linear infinite;
} 

.gold {
  font-weight: bold;

  background: linear-gradient(
    90deg,
    gold,
    #ffcd42,
    #fedc80,
    white,
    #fedc80,
    #ffcd42,
    gold
  );

  background-size: 300% 100%;
  background-position: 0% 50%;

  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: bg-move 10s linear infinite;
}

.blue {
  font-weight: bold;

  background: linear-gradient(
    90deg,
    #0de7fb,
    #5fedfa,
    #99f3fb,
    #0de7fb,
    #5fedfa,
    #99f3fb
  );

  background-size: 300% 100%;
  background-position: 0% 50%;

  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: bg-move 10s linear infinite;
}

@keyframes bg-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}

#navigation {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  border-top: white 2px solid;
  background-color: #0a0a0a;
}

#navigation a {
  width: 25vw;
  font-size: large;
  border-left: white 2px solid;
  border-right: white 2px solid;
  text-align: center;
  padding: 10px;
}

#navigation a:hover {
  background-color: #545151;
}

h1 {
  width: 100vw;
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

button {
  font-weight: bold;
  color: #0a0475;

  background: linear-gradient(
    90deg,
    gold,
    #ffcd42,
    #fedc80,
    white,
    #fedc80,
    #ffcd42,
    gold
  );

  background-size: 300% 100%;
  background-position: 0% 50%;

} button:hover {
  animation: bg-move 10s linear infinite;
  cursor: pointer;
}

.box {
    border-radius: 10px;
    border: 2px white solid;
    background-color: #383737;
}