@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border-radius: 10px;
  padding: 10px;
} button:hover {
  cursor: pointer;
}

.rainbow-text {
  font-weight: bold;

  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet,
    red
  );

  background-size: 300% 100%;
  background-position: 0% 50%;

  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-move 10s linear infinite;
}

@keyframes rainbow-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}

